{% extends 'new_base.html' %}
{% block stats %}active{% endblock %}

{% block content %}

    <div class="main-panel">
             <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Analytics</a>
                </div>
                <div class="collapse navbar-collapse">
                </div>
            </div>
        </nav>
<!--MAIN CONTENT DIV -->

<div class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="header">
                    <h4 class="title">Capacity Level Avg</h4>
                    <p class="category">City's average waste capacity, compared to the system’s</p>
                            
<!--First Graph: 24 capcity level avg-->
                                       
                </div>
                <div class="content text-center">
                    <div class="row">
                        <div class="container-fluid text-center">
                            <div class="content">
                                <h3>Daily</h3>
                                <div class="header">
                                    <p class="category">Week in days</p>
                                </div>
                                <div id="chartDays" class="ct-chart"></div>
                                <h3>Monthly</h3>
                                <div class="header">
                                    <p class="category">year in month</p>
                                </div>
                                <div id="chartMonths" class="ct-chart"></div>
                                <h3>Yearly</h3>
                                <div class="header">
                                    <p class="category">years in year</p>
                                </div>
                                <div id="chartYears" class="ct-chart"></div>
                                <div class="footer">
                                    <div class="legend">
                                       <!--     <i class="fa fa-circle text-info"></i> Open     -->
                                        <i class="fa fa-circle text-danger"></i> Treshold
                                        <i class="fa fa-circle text-warning"></i> Capacity Avg.
                                    </div>
                                    <hr>
                                    <div class="stats">
                                        <i class="fa fa-history"></i> Updated 3 minutes ago
                                    </div>
                                </div>
                                            </div>
                                    
                            </div>
                    </div>
                


    

                </div>
            </div>

        </div>



            <div class="container-fluid">
                <div class="card">
    <div class="row">
                    <div class="container-fluid  col-md-4 text-left">
                    <div class="header">
                            <h4 class="title">Sensors performance</h4>
                            <p class="category">Status of all registered sensor</p>
                        </div>
                        <div class="content">
                            <div id="chartPreferences" class="ct-chart ct-perfect-fourth"></div>

                            <div class="footer">
                                <div class="legend">
                                    <i class="fa fa-circle text-info"></i> Connected
                                    <i class="fa fa-circle text-danger"></i> Malfunction
                                    <i class="fa fa-circle text-warning"></i> Reported
                                </div>
                                <hr>
                                <div class="stats">
                                    <i class="fa fa-clock-o"></i> Update recived 2 hours ago
                                </div>
                            </div>
                        </div>
                        

                </div>




                <div class="col-md-7">
                       
                            <div class="header">
                                <h4 class="title">More Data About TrashBins</h4>
                                <p class="category">All Bins including Trash</p>
                            </div>
                            <div class="content">
                                Here We can present more data about TrashBins<br>
                                maybe how many connected and the numbers and so on...<br>
                                or whatever <br><br>
                                No idea, find out what to add<br>
                                Alon A, Avi L, Tal H<br>
                               <!--<div id="chartActivity" class="ct-chart"></div>--> 
        
                                <div class="footer">
                                    <div class="legend">
                                        <i class="text-danger">Last Year</i> 
                                        <i class="text-info">Current Year</i> 
                                    </div>
                                    <hr>
                                    <div class="stats">
                                        <i class="fa fa-check"></i> Data information certified
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                </div>








                
            </div>

            
        </div>

   
        <div class="container-fluid">
                <div class="card">
            <div class="row">
            <div class="col-md-7">
                
                    <div class="header">
                        <h4 class="title">Daily weighing summary</h4>
                        <p class="category">the information is received from the Finance Department, according on the payment for the dump</p>
                    </div>
                    <div class="content">
                        <div id="chartActivity" class="ct-chart"></div>

                        <div class="footer">
                            <div class="legend">
                                <i class="fa fa-circle text-danger"></i> Last Year
                                <i class="fa fa-circle text-info"></i> Current Year
                            </div>
                            <hr>
                            <div class="stats">
                                <i class="fa fa-check"></i> Data information certified
                            </div>
                        </div>
                    </div>
                
            </div>
        </div>

</div>

</div>

            
</div>

<!--END OF TABLE-->
<!--MAIN CONTENT DIV -->
{% endblock %}

{% block script %}
    </div>
	<!-- Light Bootstrap Charts and maps JS -->
	<script src="static/assets/js/charts-main.js"></script>
<script>
    charts.initChartist();
</script>


</body>


{% endblock %}

