{% extends 'new_base.html' %}
{% block stats %}active{% endblock %}

{% block content %}

    <div class="main-panel">

g
             <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">City Overview</a>
                </div>
                <div class="collapse navbar-collapse">
                </div>
            </div>
        </nav>
<!--MAIN CONTENT DIV -->

<div class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="header">
                    <h4 class="title">Trash Bins Data:</h4>
                    <p class="category">You may filter the reauslts to show a specific bins set</p>
                            
<!--First Graph: 24 capcity level avg-->
                                       
                </div>
                <div class="content text-center">
                    <div class="row">
                        <div class="container-fluid text-center">
                                

                                            <div class="header">
                                                <h4 class="title">Capacity Level Avg.</h4>
                                                <p class="category">24 Hours Behavior : City's Average</p>
                                            </div>
                                            <div class="content">
                                                <div id="chartHours" class="ct-chart"></div>
                                                <div class="footer">
                                                    <div class="legend">
                                                       <!--     <i class="fa fa-circle text-info"></i> Open     --> 
                                                        <i class="fa fa-circle text-danger"></i> Treshold
                                                        <i class="fa fa-circle text-warning"></i> Capacity Avg.
                                                    </div>
                                                    <hr>
                                                    <div class="stats">
                                                        <i class="fa fa-history"></i> Updated 3 minutes ago
                                                    </div>
                                                </div>

                                                <!--form-->             <form action = "/new_index" method = "POST">
                            <!--first-->
                            <div class="container-fluid">
                                <div class="content" >
<!--                                    <input type="radio" name="optradio" value="capacity" checked><label class="radio-inline">By Capacity</label></input>-->
                                    <div class="text-left" > <h5><b> Adjust the presented information above</b></h5></div>
                                    <div class="form-check text-left" id="filterCapacity">
                                        <input type="radio" class="form-check-input" name="week_day">
                                        <label class="form-check-label" id="25">Week by day</label>
                                        <br>
                                        <input type="radio" class="form-check-input" name="year_month">
                                        <label class="form-check-label" id="75">Year by month</label>
                                        <br>
                                        <input type="radio" class="form-check-input" name="years_year">
                                        <label class="form-check-label" id="100">Years by Syear</label>
                                    </div>
                                </div>
                            </div>
                            <div class="container-fluid text-left">
                            <br>
                                   <input type = "submit" class="btn btn-info btn-fill " value = "Apply Filters" />
                             </div>
                        </form>
<!--end form-->


                                            </div>
                                    
                            </div>
                    </div>
                


    

                </div>
            </div>

        </div>



            <div class="container-fluid">
                <div class="card">
    <div class="row">
                    <div class="container-fluid  col-md-4 text-left">
                    <div class="header">
                            <h4 class="title">Trash Bins Performance</h4>
                            <p class="category">Status Overview </p>
                        </div>
                        <div class="content">
                            <div id="chartPreferences" class="ct-chart ct-perfect-fourth"></div>

                            <div class="footer">
                                <div class="legend">
                                    <i class="fa fa-circle text-info"></i> Connected
                                    <i class="fa fa-circle text-danger"></i> Malfunction
                                    <i class="fa fa-circle text-warning"></i> Reported
                                </div>
                                <hr>
                                <div class="stats">
                                    <i class="fa fa-clock-o"></i> Update recived 2 hours ago
                                </div>
                            </div>
                        </div>
                        

                </div>




                <div class="col-md-7">
                       
                            <div class="header">
                                <h4 class="title">More Data About TrashBins</h4>
                                <p class="category">All Bins including Trash</p>
                            </div>
                            <div class="content">
                                Here We can present more data about TrashBins<br>
                                maybe how many connected and the numbers and so on...<br>
                                or whatever <br><br>
                                No idea, find out what to add<br>
                                Alon A, Avi L, Tal H<br>
                               <!--<div id="chartActivity" class="ct-chart"></div>--> 
        
                                <div class="footer">
                                    <div class="legend">
                                        <i class="text-danger">Last Year</i> 
                                        <i class="text-info">Current Year</i> 
                                    </div>
                                    <hr>
                                    <div class="stats">
                                        <i class="fa fa-check"></i> Data information certified
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                </div>








                
            </div>

            
        </div>

   
        <div class="container-fluid">
                <div class="card">
            <div class="row">
            <div class="col-md-7">
                
                    <div class="header">
                        <h4 class="title">Last Year Comparison</h4>
                        <p class="category">All trash is made by humans</p>
                    </div>
                    <div class="content">
                        <div id="chartActivity" class="ct-chart"></div>

                        <div class="footer">
                            <div class="legend">
                                <i class="fa fa-circle text-danger"></i> Last Year
                                <i class="fa fa-circle text-info"></i> Current Year
                            </div>
                            <hr>
                            <div class="stats">
                                <i class="fa fa-check"></i> Data information certified
                            </div>
                        </div>
                    </div>
                
            </div>
        </div>

</div>

</div>

            
</div>

<!--END OF TABLE-->
<!--MAIN CONTENT DIV -->
{% endblock %}

{% block script %}
    </div>
	<!-- Light Bootstrap Charts and maps JS -->
	<script src="static/assets/js/charts-main.js"></script>
<script>
    charts.initChartist();
</script>


</body>


{% endblock %}

