{% extends 'new/new_base.html' %}

{% block content %}
    <div class="main-panel">


             <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">City Overview</a>
                </div>
                <div class="collapse navbar-collapse">
                </div>
            </div>
        </nav>

<!--MAIN CONTENT DIV -->

<div class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="header">
                    <h4 class="title">About WIseTrash Project:</h4>
                    <p class="category">First, It's nice to meet you! We are:</p>
                            

                </div>
                <div class="content text-center">
                    <div class="row">
                        <div class="container-fluid text-center">
                                

                                <div class="col-md-4">
                                        <div class="card card-user">
                                            <div class="image">
                                                <img src="https://scontent.fsdv3-1.fna.fbcdn.net/v/t1.0-9/552033_3736305409173_1307164908_n.jpg?_nc_cat=104&_nc_ht=scontent.fsdv3-1.fna&oh=255b29b9340c0ffa58240c66e20cfa80&oe=5D9135A5" alt="Avi L"/>
                                            </div>
                                            <div class="content">
                                                <div class="author">
                                                     <a href="#">
                                                    <img class="avatar border-gray" src="static/assets/img/faces/avi.jpg" alt="Avi Levi"/>
                
                                                      <h4 class="title">Avi Levi<br />
                                                         <small>Abush</small>
                                                      </h4>
                                                    </a>
                                                </div>
                                                <p class="description text-center"> "Lamborghini Mercy <br>
                                                                    Your chick she so thirsty <br>
                                                                    I'm in that two seat Lambo"
                                                </p>
                                            </div>
                                            <hr>
                                            <div class="text-center">
                                                    <button href="https://www.facebook.com/alon.askal" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
                                                    <button href="https://www.linkedin.com/in/alon-askal/" class="btn btn-simple"><i class="fa fa-linkedin-square"></i></button>
                                                    <button href="mailto: alon.askal@gmail.com" class="btn btn-simple"><i class="fa fa-envelope-square"></i></button>
                    
                                                </div>
                                        </div>
                                    </div>



                                    <div class="col-md-4">
                                            <div class="card card-user">
                                                <div class="image">
                                                    <img src="https://scontent.fsdv3-1.fna.fbcdn.net/v/t1.0-9/44122235_10217590220329337_6242355860857683968_n.jpg?_nc_cat=102&_nc_ht=scontent.fsdv3-1.fna&oh=6330601fc95cfdaeec1a2d3fa4643e95&oe=5D63E484" alt="..."/>
                                                </div>
                                                <div class="content">
                                                    <div class="author">
                                                         <a href="#">
                                                        <img class="avatar border-gray" src="static/assets/img/faces/alon.jpg" alt="Alon A"/>
                    
                                                          <h4 class="title">Alon Askal<br />
                                                             <small>Askal</small>
                                                          </h4>
                                                        </a>
                                                    </div>
                                                    <p class="description text-center"> "Easy Pretty Dog <br>
                                                                        Your dog she so thirsty <br>
                                                                        I'm in that two seat Lambo"
                                                    </p>
                                                </div>
                                                <hr>
                                                <div class="text-center">
                                                    <button href="https://www.facebook.com/alon.askal" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
                                                    <button href="https://www.linkedin.com/in/alon-askal/" class="btn btn-simple"><i class="fa fa-linkedin-square"></i></button>
                                                    <button href="mailto: alon.askal@gmail.com" class="btn btn-simple"><i class="fa fa-envelope-square"></i></button>
                    
                                                </div>
                                            </div>
                                        </div>





                                        <div class="col-md-4">
                                                <div class="card card-user">
                                                    <div class="image">
                                                        <img src="https://scontent.fsdv3-1.fna.fbcdn.net/v/t31.0-8/10296344_10204026527806389_222195123550252970_o.jpg?_nc_cat=105&_nc_ht=scontent.fsdv3-1.fna&oh=165736ac67862bcec1d9a06601705b36&oe=5D627251" alt="Tal H"/>
                                                    </div>
                                                    <div class="content">
                                                        <div class="author">
                                                             <a href="#">
                                                            <img class="avatar border-gray" src="static/assets/img/faces/Tal.jpg" alt="Tal H"/>
                        
                                                              <h4 class="title">Tal Hashahar<br />
                                                                 <small>Talush</small>
                                                              </h4>
                                                            </a>
                                                        </div>
                                                        <p class="description text-center"> "Lamborghini Mercy <br>
                                                                            Your chick she so thirsty <br>
                                                                            I'm in that two seat Lambo"
                                                        </p>
                                                    </div>
                                                    <hr>
                                                    <div class="text-center">
                                                            <button href="https://www.facebook.com/alon.askal" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
                                                            <button href="https://www.linkedin.com/in/alon-askal/" class="btn btn-simple"><i class="fa fa-linkedin-square"></i></button>
                                                            <button href="mailto: alon.askal@gmail.com" class="btn btn-simple"><i class="fa fa-envelope-square"></i></button>
                            
                                                        </div>
                                                </div>
                                            </div>
                                    
                            </div>
                    </div>
                

                    <div class="card card-price container-fluid text-left">
                            <h4 class="title">The Purpose<br /></h4>
                    <p>
                    Efficient management of trash-cans collection has become a major cause of concern for municipalities in developing countries in the past few years. With the increase in population, the need for improving the common waste collection system has dramatically increased. The traditional operating waste collection services cost a lot to the municipalities, while the scenarios of overflowing trash cans and traffic delays are a major annoyance repeating itself in many of those cities. 
                    <br><br>
                    </p>
                    <h4 class="title">The Method<br /></h4>

                    <p>
                    Traditionally, municipalities operate on fixed routes to pick up trash and recyclables on designated days, regardless of whether the trash cans/containers are full or not. [http://www.brokenarrowok.gov/DocumentCenter/View/306/BA-sanitation-analysis?bidId=]
                    This project aims to provide an embedded IOT system to enhance and improve the current waste collection service. WiseTrash will optimize waste collection management and ultimately reduce resources and operating costs. The solution will focus on providing a modular system, such that will provide an architecture and infrastructure enabling a smooth path for improvements and upgrades. Further, the massive data will be widely available to many subscribers for research. 
                    </p>
                    </div>
                    
    

                </div>
            </div>

        </div>

</div>

        {% endblock %}

{% block script %}


{% endblock %}


</div>