{% extends 'new/new_base.html' %}
{% block bind %}active{% endblock %}

{% block content %}
    
    <div class="main-panel">

             <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">City Overview</a>
                </div>
                <div class="collapse navbar-collapse">
                </div>
            </div>
        </nav>

<!--MAIN CONTENT DIV -->



<div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Trashbins Data</h4>
                            <p class="category">Here you may filter the showen data below</p>
                        </div>


<br>

                                                    <form action = "/new_bindata" method = "POST">

<div class="row" style="margin: 0 auto; display:block; width: 100%;">
    <div class="col-lg-2">


                                    <input type="radio" class="custom-control-input" id="customControlValidation1" name="radio-stacked" value="id" required/>
                                    <label>By trash ID</label>
                                    <input type = "text" class="form-control" name = "Bin_ID" placeholder="1000" />


    </div>
    <div class="col-lg-2">
                                    <input type="radio" class="custom-control-input" id="customControlValidation2" name="radio-stacked" value="street" required/>
                                    <label>By street name</label>
                                    <input type = "text" class="form-control" name="address" placeholder="cinSTR" />

    </div>
    <div class="col-lg-2">
                                    <input type="radio" class="custom-control-input" id="customControlValidation3" name="radio-stacked" value="capacity" required/>
                                    <label>Above capacity</label>
                                    <input type="number" class="form-control" min="0" max="100" id="capacity_range" name="capacity" placeholder="Set a number between 0-100"/>

    </div>
   <div class="col-lg-2">
        <input type = "submit" class="btn btn-info btn-fill pull-right" value = "Submit" />
    </div>


</div>





                                                    </form>

<hr>






                     
                        <div class="content">
            <div class="container-fluid">
                <div class="row">
                        <div class="col-md-12">
                                <div class="card card-plain">
                                    <div class="header">
                                        <h4 class="title">Table on Plain Background</h4>
                                        <p class="category">Here is a subtitle for this table</p>
                                        <nav aria-label="Page navigation">

                                    </div>
                                    <div class="content table-responsive table-full-width">
                                            <table class="table table-hover">
                                                    <thead>
                                                        <th>Bin ID</th>
                                                        <th>Location</th>
                                                        <th>Volume</th>
                                                        <th>Status</th>
                                                        <th>Last Serviced</th>
                                                    </thead>
                                                    {% for sensor in sensors %}
                                                    <TR>
                                                       <TD>{{sensor[0]}}</TD> <!-- id!-->
                                                       <TD>{{sensor[1]}}</TD> <!-- address!-->
                                                       <TD>{{sensor[2]}}%</TD> <!-- volume!-->
                                                       <TD >{{sensor[3]}}</TD>             <!-- avg fill!-->
                                                       <TD>{{sensor[4]}}</TD>   <!-- last serived!-->
                                                    </TR>
                                                    {% endfor %}
                                                </tbody>
                                                </table>


 <nav aria-label="Page navigation">
  <ul class="pagination pull-center">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>

<br>

                                                <a type="submit" class="btn btn-info btn-fill pull-center" href="/download" download="./export.csv">Download Presented Data (CSV file)</a>

        
                                    </div>
                                </div>
                            </div>
                </div>
            </div>
        </div>
        </div>
        </div>

</div></div></div>



{% endblock %}

{% block script %}

</body>




{% endblock %}

