<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="assets/img/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>WiseTrash Dashboard</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="assets/css/animate.min.css" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link href="assets/css/light-bootstrap-dashboard.css?v=1.4.0" rel="stylesheet"/>

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="assets/css/pe-icon-7-stroke.css" rel="stylesheet" />


</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-color="azure" data-image="assets/img/sidebar-RG.jpeg">


    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="http://www.Shenkar.ac.il" class="simple-text">
                    <img src="https://www.ramat-gan.muni.il/files/logo-he.png"><br>
                   <h4> <b>אגף שפ״ע</b></h4>
                </a>
            </div>

            <ul class="nav">
                <li>
                    <a href="WISE2_main.html">
                        <i class="pe-7s-news-paper"></i>
                        <p>Main</p>
                    </a>
                </li>
                <li>
                    <a href="WISE2_stats.html">
                        <i class="pe-7s-graph"></i>
                        <p>Analytics</p>
                    </a>
                </li>

                <li>
                        <a href="Calc.html">
                            <i class="pe-7s-science"></i>
                            <p>Set Treshold</p>
                        </a>
                    </li>

                <li class="active">
                    <a href="WISE2_bins.html">
                        <i class="pe-7s-note2"></i>
                        <p>Bins Data</p>
                    </a>
                </li>
                <li>
                    <a href="WISE2_bins.html">
                        <i class="pe-7s-car"></i>
                        <p>Trucks Data</p>
                    </a>
                </li>
               
                <li>
                    <a href="#">
                        <i class="pe-7s-map-marker"></i>
                        <p>Extra option</p>
                    </a>
                </li>
                <li>
                    <a href="WISE2_about.html">
                        <i class="pe-7s-bell"></i>
                        <p>About WiseTrash</p>
                    </a>
                </li>
				<!---Next li tag is the lower "Contact Support" button on the L-side panel-->
                <li>
                        <a href="mailto:Alon.Askal@gmail.com" target="_blank">
                            <i class="pe-7s-mail"></i>
                            <p>Contact Soppurt</p>
                        </a>
                        </li>
            </ul>
    	</div>
    </div>






    
    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">City Overview</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-dashboard"></i>
								<p class="hidden-lg hidden-md">Dashboard</p>
                            </a>
                        </li>
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-globe"></i>
                                    <b class="caret hidden-lg hidden-md"></b>
									<p class="hidden-lg hidden-md">
										5 Notifications
										<b class="caret"></b>
									</p>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Notification 1</a></li>
                                <li><a href="#">Notification 2</a></li>
                                <li><a href="#">Notification 3</a></li>
                                <li><a href="#">Notification 4</a></li>
                                <li><a href="#">Another notification</a></li>
                              </ul>
                        </li>
                        <li>
                           <a href="">
                                <i class="fa fa-search"></i>
								<p class="hidden-lg hidden-md">Search</p>
                            </a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                           <a href="">
                               <p>Option1</p>
                            </a>
                        </li>
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <p>
										Dropdown options
										<b class="caret"></b>
									</p>

                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                              </ul>
                        </li>
                        <li>
                            <a href="#">
                                <p>Option2</p>
                            </a>
                        </li>
						<li class="separator hidden-lg"></li>
                    </ul>
                </div>
            </div>
        </nav>

<!--MAIN CONTENT DIV -->



<div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Trashbins Data</h4>
                            <p class="category">Here you may filter the showen data below</p>
                        </div>
                        <div class="content">
                            

                        


                                <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" id="customControlValidation2" name="radio-stacked" required>
                                        <label class="custom-control-label" for="customControlValidation2">Find a specific Bin by ID</label>
                                        <input type="number" class="form-control" placeholder="binID" checked>
                                      </div>
                                      <br>
                                      <div class="custom-control custom-radio mb-3">
                                        <input type="radio" class="custom-control-input" id="customControlValidation3" name="radio-stacked" required>
                                        <label class="custom-control-label" for="customControlValidation3">Find a specific street:</label>
                                        <input type="text" class="form-control" placeholder="cinSTR" >
                                      </div>
                                      <br>
                                      <div class="custom-control custom-radio mb-3">
                                            <input type="radio" class="custom-control-input" id="customControlValidation3" name="radio-stacked" required>
                                            <label class="custom-control-label" for="customControlValidation3">Or find bins above capacity</label>
                                            <input type="number" class="form-control" min="0" max="100" placeholder="Set a number between 0-100">
                                          </div>
                                          <br>

                                        <div class="text-center">
                                                <button type="submit" class="btn btn-info btn-fill col-lg-pull-3">Filter Table</button>
                                                <br><br>
                                                <button type="submit" class="btn btn-info btn-fill pull-center">Reset / Show All</button>
                                            </div>

<hr>
                     
                        <div class="content">
            <div class="container-fluid">
                <div class="row">
                        <div class="col-md-12">
                                <div class="card card-plain">
                                    <div class="header">
                                        <h4 class="title">Table on Plain Background</h4>
                                        <p class="category">Here is a subtitle for this table</p>
                                    </div>
                                    <div class="content table-responsive table-full-width">
                                            <table class="table table-hover">
                                                    <thead>
                                                        <th>Bin ID</th>
                                                        <th>Location</th>
                                                        <th>Volume</th>
                                                        <th>Status</th>
                                                        <th>Last Serviced</th>
                                                    </thead>
                                                    <tr>
                                                        <td>3431</td>
                                                        <td>Anna Frank 12</td>
                                                        <td>36%</td>
                                                        <td><p class="text-success">Below</p></td>
                                                        <td><Script> document.write(new Date().toUTCString())   - 3  ; </Script> </td>
                                                    </tr>
                                                    <tr>
                                                        <td>3432</td>
                                                        <td>Bialik 120</td>
                                                        <td>23%</td>
                                                        <td><p class="text-success">Below</p></td>
                                                        <td><Script> document.write(new Date().toUTCString())   - 123  ; </Script> </td>
                                                    </tr>
                                                    <tr>
                                                        <td>3433</td>
                                                        <td>Habonim 14</td>
                                                        <td>56%</td>
                                                        <td><p class="text-warning">Above</p></td>
                                                        <td><Script> document.write(new Date().toUTCString())   - 237 ; </Script> </td>
                                                    </tr>
                                                    <tr>
                                                        <td>3434</td>
                                                        <td>Yona 44</td>
                                                        <td>89%</td>
                                                        <td><p class="text-danger">Full</p></td>
                                                        <td><Script> document.write(new Date().toUTCString())   - 3  ; </Script> </td>
                                                    </tr>
                                                    <tr>
                                                        <td>3435</td>
                                                        <td>Jabotinsky 124</td>
                                                        <td>64%</td>
                                                        <td><p class="text-warning">Above</p></td>
                                                        <td><Script> document.write(new Date().toUTCString())   - 3  ; </Script> </td>
                                                    </tr>
                                                    <tr>
                                                        <td>3436</td>
                                                        <td>Tsahala 11</td>
                                                        <td>78%</td>
                                                        <td><p class="text-danger">Full</p></td>
                                                        <td><Script> document.write(new Date().toUTCString())   - 3  ; </Script> </td>
                                                    </tr>
                                                </tbody>
                                                </table>
                                                <button type="submit" class="btn btn-info btn-fill pull-center">Download Presented Data (CSV file)</button>

        
                                    </div>
                                </div>
                            </div>
                </div>
            </div>
        </div>
                        

                        </div>
                    </div>
                </div>

</div></div></div>






        <footer class="footer">
                <div class="container-fluid">
                    <nav class="pull-left">
                        <ul>
                            <li>
                                <a href="#">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    More
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Extra
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                   Whatever
                                </a>
                            </li>
                            
                        </ul>
                    </nav>
                    <p class="copyright pull-right">
                        &copy; <script>document.write(new Date().getFullYear())</script> <a href="http://www.Shenkar.ac.il">WiseTrash</a>, made with love for the environment.
                    </p>
                </div>
            </footer>

    </div>
</div>


</body>

    <!--   Core JS Files   -->
    <script src="assets/js/jquery.3.2.1.min.js" type="text/javascript"></script>
	<script src="assets/js/bootstrap.min.js" type="text/javascript"></script>

	<!--  Charts Plugin -->
	<script src="assets/js/chartist.min.js"></script>

    <!--  Notifications Plugin    -->
    <script src="assets/js/bootstrap-notify.js"></script>

    <!--  Google Maps Plugin    -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLT0yiIBSyM_l0PvIp7cH1rbPnfPfcETM"></script>

    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
	<script src="assets/js/light-bootstrap-dashboard.js?v=1.4.0"></script>

	<!-- Light Bootstrap Charts and maps JS -->
	<script src="assets/js/charts-main.js"></script>

	<script type="text/javascript">
    	$(document).ready(function(){

        	charts.initChartist();

        	$.notify({
            	icon: 'pe-7s-bell',
            	message: "Welcome to <b>WiseTrash Dashboard</b> - here we will present information abput the page utitlity."

            },{
                type: 'info',
                timer: 4000
            });

    	});
	</script>

</html>
